body {
    cursor: url(../imgs/potion.png) 4 12, auto;
    background: url(../imgs/shrine.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about {
    background: url(../imgs/water.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 70px;
}

.education {
    margin-top: 50px;
    width: 100%;
    box-shadow: 10px;
    border-style: outset;
    border-width: 5px;
    border-color: gold;
    font-size: 18px;
    padding: 5px;
}

.home {
    background: url(../imgs/castle.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.projects {
    background: url(../imgs/tavern.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;

}

img {
    vertical-align: middle;
    margin-bottom: 10px;
}

.grid-container {
    width: 100%;
}

/* background: */
progress::-webkit-progress-bar {background-color: rgb(220,220,220); width: 100%;}
progress {background-color: rgb(220,220,220);}

/* value: */
progress::-webkit-progress-value {background-color: #DC143C !important;}
progress::-moz-progress-bar {background-color: #DC143C !important;}
progress {color: #DC143C;}

h1 {
    color: whitesmoke;
    text-align: center;
    font-family: 'Brush Script MT', Brush Script Std, cursive;
    text-shadow: 2px 2px black;
    font-size: 100px;
}

h3 {
    overflow: hidden;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h3:before,
h3:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h3:before {
    right: 0.5em;
    margin-left: -50%;
}

h3:after {
    left: 0.5em;
    margin-right: -50%;
}

h4 {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

.form-group {
    margin-inline: 50px;
}

.top-bar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    height: 70px;
}

.top-bar ul {
    background-color: transparent !important;
}


.download-btn {
    border-radius: 0 10px;
    background-color: darkred;
    color: white;
    width: 300px;
    border-color: gold;
    border-style: outset;
    border-width: 5px;
}


.top-bar li a {
    color: white;
    justify-content: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
}

.top-bar a:hover {
    color: #00af91;
    border: #00af91;
}


.card {
    margin-top: 10px;
    box-shadow: black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-family: 'Times New Roman', Times, serif
}

footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    color: white;
    text-align: center;
}

.tabs a:hover {
    color: #00af91;
    border: #00af91;
}

.tabs .tabs-title active {
    background-color: transparent;
}

.tabs-panel {
    width: 100%;
}


ol {
    list-style-type: upper-roman;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.github {
    background: black;
    color: white;
}

.google {
    background: #db4a39;
    color: white;
}

.icon-bar {
    position: fixed;
    right: 35%;
    border-style: hidden;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
    float: right;
}

.icon-bar a:hover {
    background-color: lightslategray;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 50px;
}

.skill {
    width: 100%;
}

.skill-before{
    left: 50%;
    width: 30px;
}

.skill-after{
    right: 50%;
    width: 30px;
}


.timeline .timeline-item::after, .timeline .timeline-item::before {
    clear: both;
    content: '';
    display: block;
    width: 100%;
  }
  
  .timeline {
    margin: 30px auto;
    padding: 0 10px;
    position: relative;
    transition: all 0.25s ease-in;
    width: 100%;
  }
  
  .timeline::before {
    background: black;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 3px;
  }
  
  .timeline::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
  }
  
  .timeline a {
    color: black;
    font-weight: bold;
    transition: all 0.25s ease-in;
  }
  
  .timeline a:hover {
    box-shadow: 0 1px 0px 0px black;
    transition: all 0.25s ease-in;
  }
  
  .timeline .timeline-item {
    margin-bottom: 50px;
    position: relative;
  }
  
  .timeline .timeline-item .timeline-icon {
    background: #fefefe;
    border-radius: 50%;
    height: 50px;
    left: 50%;
    margin-left: -23px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 50px;
  }

  
  .timeline .timeline-item .timeline-icon img,
  .timeline .timeline-item .timeline-icon svg,
  .timeline .timeline-item .timeline-icon i {
    left: 14px;
    position: relative;
    top: 11px;
  }
  
  .timeline .timeline-item .timeline-icon i {
    top: 14px;
  }
  
  .timeline .timeline-item .timeline-content {
    padding: 20px;
    text-align: right;
    transition: all 0.25s ease-in;
    width: 45%;
    background: transparent;
  }
  
  .timeline .timeline-item .timeline-content p {
    color: bla;
  }
  
  .timeline .timeline-item .timeline-content p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
  }
  
  .timeline .timeline-item .timeline-content .timeline-content-date {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .timeline .timeline-item .timeline-content .timeline-content-month {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .timeline .timeline-item .timeline-content.right {
    float: right;
    text-align: left;
  }
  
  @media screen and (max-width: 39.9375em) {
    .timeline {
      margin: 30px;
      padding: 0;
      width: 90%;
    }
    .timeline::before {
      left: 0;
    }
    .timeline .timeline-item .timeline-content {
      float: right;
      text-align: left;
      width: 90%;
    }
    .timeline .timeline-item .timeline-content::before, .timeline .timeline-item .timeline-content.right::before {
      border-left: 0;
      border-right: 7px solid #fefefe;
      left: 10%;
      margin-left: -6px;
    }
    .timeline .timeline-item .timeline-icon {
      left: 0;
    }
  }
  
  