body {
    cursor: url(../imgs/potion.png) 4 12, auto;
    background: url(../imgs/shrine.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about {
    background: url(../imgs/water.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

.home {
    background: url(../imgs/castle.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.cursor {
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
}

img {
    vertical-align: middle;
    padding: 0%;
}

.hover figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover figure:hover img {
    opacity: .5;
}

h1 {
    margin: 30px;
    color: whitesmoke;
    text-align: center;
    font-family: 'Brush Script MT', Brush Script Std, cursive;
    text-shadow: 2px 2px black;
    font-size: 100px;
}

h4 {
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

.form-group {
    margin-inline: 50px;
}

.top-bar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    height: 70px;
}

.top-bar ul {
    background-color: transparent !important;
}

.top-bar li a {
    color: white;
    justify-content: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
}

.top-bar a:hover {
    color: #00af91;
    border: #00af91;
}

div {
    justify-content: center;
    text-align: center;
}

.card {
    margin-top: 10px;
    box-shadow: black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    font-family: 'Times New Roman', Times, serif
}

footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    color: white;
    text-align: center;
}

.a.href button {
    color: teal;
}

ol {
    list-style-type: upper-roman;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.github {
    background: black;
    color: white;
}

.google { 
    background: #db4a39; 
    color: white; 
} 

.icon-bar {
    position: fixed;
    right: 35%;
    border-style:hidden;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
    float: right;
}

.icon-bar a:hover {
    background-color: lightslategray;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 50px;
}