<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head') %>
</head>

<body class="home">
    <%- include('./templates/navbar') %>

    <h1>Alicia Ngoc Diep Ha</h1>

    <div class="container">
        <img src="../imgs/scroll.png">
        <div class="centered">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQEOLfdpD-kx5g/profile-displayphoto-shrink_800_800/0/1611750536173?e=1617840000&v=beta&t=EIJiL2U9hED4Ws5OcBX3UGelo7OJEdJWWHpEP6r6AW8"
                class="profile">
            <p>
                Hello, I'm Alicia!
                <br> <br>
                I'm a recent graduate at The University of Sydney and studied a
                Bachelor of Information Technology (Computer Science) and
                Bachelor of Medical Science (Pharmacology)
                <br><br>

                Here you'll find:
                <ol>
                    <li><b>About Me</b> - my skills, education, work experience</li>
                    <li><b>Projects</b> - sample projects, information about completed ones</li>
                </ol>

                Feel free to check out my social media links below.

                <img src="../imgs/knight.gif" width="100px">

                <div class="icon-bar">
                    <a href="https://www.linkedin.com/in/alicia-ha-9b69a0117/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="mailto:aliciaha1997@gmail.com" class="google"><i class="fa fa-google"></i></a>
                    <a href="https://github.com/aliciaha1997" class="github"><i class="fa fa-github"></i></a>
                </div>

            </p>
        </div>
    </div>

</body>

</html>