<div id="navbar" class="top-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="http://localhost:5000/" class="hover">
                <figure>
                    <img src="../../imgs/heart.gif" width=30px>
                </figure>
            </a></li>
        <li><a href="http://localhost:5000/about">About Me</a></li>
        <li class="is-dropdown-submenu-parent"><a href="">Projects</a>
            <ul class="menu vertical" data-dropdown-menu>
                <li><a href="http://localhost:5000/articles" class="subtext">Articles</a></li>
            </ul>
        </li>
    </ul>
</div>
