<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="http://localhost:5000/">
                    <img src="../../imgs/heart.gif" width="20px"> Home
                </a></li>
            <li><a href="http://localhost:5000/about">
                <img src="../../imgs/book.gif" width="20px">About Me</a></li>
            <li>
                <a href="http://localhost:5000/projects">
                    <img src="../../imgs/sword.gif" width="20px">Projects</a>
                <ul class="menu vertical">
                    <li><a href="http://localhost:5000/articles">Blog</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
        </ul>
    </div>
</div>

<%- include('../templates/footer') %>
<%- include('../templates/scripts') %>
