<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="/">
                    <img src="../../imgs/heart.gif" width="20px"> Home
                </a></li>
            <li><a href="/about">
                <img src="../../imgs/book.gif" width="20px">About Me</a></li>
            <li>
                <a href="/projects">
                    <img src="../../imgs/sword.gif" width="20px">Projects</a>
                <ul class="menu vertical">
                    <li><a href="/projects/this">My Resume Website</a></li>
                    <li><a href="/projects/garvan">Clinical Trials for Cancer Patients</a></li>
                    <li><a href="/projects/agile">Educational Platform</a></li>
                    <li><a href="/projects/groupmates">GroupMates Mobile App</a></li>
                    <li><a href="/projects/air">Air Quality</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button success">Search</button></li>
        </ul>
    </div>
</div>

<%- include('../templates/footer') %>
<%- include('../templates/scripts') %>
