<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>

</head>

<body>
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <h1 class="mb-4">New Article</h1>
        <div class="card">
            <form action="/articles" method="POST">
                <%- include('_form_fields') %>
            </form>
        </div>
    </div>

</body>

</html>