<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alicia Ngoc Diep Ha</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
        integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <link rel="icon" href="../css/logo.gif">
</head>

<body>
    <div class="grid-container">
        <h1 class="mb-4">New Article</h1>
        <div class="card">
        <form action="/articles" method="POST">
            <%- include('_form_fields') %>
        </form>
    </div>
    </div>
</body>

<footer>&copy; Copyright 2021 Alicia Ngoc Diep Ha</footer>


</html>