<table class="unstriped row-bordered">
    <tr>
        <td><b>The University of Sydney</b><br><em>2016-2021</em></td>
        <td>Bachelor of Information Technology (Computer Science)/ Bachelor of Medical Science (Pharmacology)
            <br><br>
            Achieved High distinctions in:
            <ul>
                <li>Professional Engineering and IT</li>
                <li>Major Development Project (Advanced)</li>
                <li>Machine Learning and Data Mining</li>
            </ul>

            <br>
            Achieved Distinctions in:
            <ul>
                <li>Chemistry 1A</li>
                <li>Applications of Calculus</li>
                <li>Introduction to Linear Algebra</li>
                <li>Introduction to Programming</li>
                <li>Introduction to Computer Systems</li>
                <li>Data Structures</li>
                <li>Analysis and Design of Web Info Systems</li>
                <li>Programming Languages, Logic and Models</li>
                <li>Graphics and Multimedia</li>
                <li>Data and Information Management</li>
                <li>Object-Orientated Applications</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><b>Willoughby Girls High School</b><br><em>2010-2015</em> </td>
        <td>Achieved Silver Merit of Excellence in 2015<br><br>
        Band 6's in:
        <ul>
            <li>Mathematics 2U</li>
            <li>Chemistry</li>
            <li>Biology</li>
        </ul>
    </td>
    </tr>
</table>