<div class="container">
    <h3>Volunteering</h3>
    
    <ol>
        <li>Substitute teacher for Mathematics and Science at North Shore Coaching (23/11/19)</li>
        <li>Software tester at Displayr (27/02/19)</li>
        <li>Peer mentor at the University of Sydney (28/2/18 – 1/7/18)</li>
    </ol>

    <h3>Certifications</h3>
    <ol>
        <li>Has a valid Working with Children Check (WWCC)</li>
        <li>Udemy Full Stack Data Science Course Certificate</li>
    </ol>

    <h3>LinkedIn Badges</h3>
    <ol>
        <li>Machine Learning</li>
        <li>Microsoft Excel</li>
        <li>Microsoft Powerpoint</li>
        <li>Microsoft Word</li>
        <li>MySQL</li>
        <li>HTML</li>
        <li>Django</li>
        <li>JSON</li>
        <li>NoSQL</li>
        <li>MongoDB</li>
        <li>Python</li>
    </ol>

  </div>