 Programming languages


<div class="row">

<div class="columns large-3">


                    <label>Python</label>
                    <progress class="secondary" value="950" max="100"></progress>

                    <label>Java</label>
                    <progress value="85" max="100"></progress>

                    <label>Kotlin</label>
                    <progress value="75" max="100"></progress>

                    <label>Arduino</label>
                    <progress value="70" max="100"></progress>

                    <label>C</label>
                    <progress value="65" max="100"></progress>

                    <label>C++</label>
                    <progress value="60" max="100"></progress>

                    <label>Bash</label>
                    <progress value="40" max="100"></progress>
                    
                    <hr>
                    
                    Web-Development

                    <label>Django</label>
                    <progress value="90" max="100"></progress>

                    <label>ReactJs</label>
                    <progress value="80" max="100"></progress>

                    <label>Bootstrap</label>
                    <progress value="75" max="100"></progress>

                    <label>HTML</label>
                    <progress value="70" max="100"></progress>

                    <label>Node JS</label>
                    <progress value="70" max="100"></progress>

                    <label>Foundation</label>
                    <progress value="65" max="100"></progress>

                    <label>Spring MVC</label>
                    <progress value="60" max="100"></progress>

                    <label>Hibernate</label>
                    <progress value="55" max="100"></progress>

                    <label>CSS</label>
                    <progress value="50" max="100"></progress>
                

                    <hr>

                    Big Data Analytics

                    <label>Spark - Scala, PySpark, SparkML, SparkSQL - </label>
                    <progress value="75" max="100"></progress>

                    <label>AWS</label>
                    <progress value="65" max="100"></progress>

                    <label>Docker</label>
                    <progress value="60" max="100"></progress>

                    <label>Hadoop</label>
                    <progress value="50" max="100"></progress>
                

                    <hr>

                    Databases

                    <label>MySQL</label>
                    <progress value="90" max="100"></progress>

                    <label>MongoDB</label>
                    <progress value="80" max="100"></progress>

                    <label>Neo4J</label>
                    <progress value="75" max="100"></progress>

                    <label>PostgreSQL</label>
                    <progress value="70" max="100"></progress>
                
                    <label>SQLite</label>
                    <progress value="70" max="100"></progress>

                    <hr>

                    Deep Learning

                    <label>PyTorch</label>
                    <progress value="85" max="100"></progress>

                    <label>TensorFlow</label>
                    <progress value="80" max="100"></progress>

                    <label>SVM</label>
                    <progress value="70" max="100"></progress>

                    <label>CNN</label>
                    <progress value="60" max="100"></progress>
                
                    <label>Keras</label>
                    <progress value="60" max="100"></progress>

                    <hr>

 </div>
 <div class="columns large-3">

                    Soft skills

                    <label>Problem Solving</label>
                    <progress value="95" max="100"></progress>

                    <label>Communication</label>
                    <progress value="85" max="100"></progress>

                    <label>Leadership</label>
                    <progress value="80" max="100"></progress>

                    <label>Time Management</label>
                    <progress value="75" max="100"></progress>

                    </div>
</div>
