 Programming languages


<div class="row">

<div class="columns large-3">


                    <label>Python</label>
                    <progress class="secondary" value="950" max="100"></progress>

                    <label>Java</label>
                    <progress value="85" max="100"></progress>

                    <label>Kotlin</label>
                    <progress value="75" max="100"></progress>

                    <label>Arduino</label>
                    <progress value="70" max="100"></progress>

                    <label>C</label>
                    <progress value="65" max="100"></progress>

                    <label>C++</label>
                    <progress value="60" max="100"></progress>

                    <label>Bash</label>
                    <progress value="40" max="100"></progress>
                    
                    <hr>
                    Technologies

                    <label>Problem Solving</label>
                    <progress value="95" max="100"></progress>

                    <label>Communication</label>
                    <progress value="85" max="100"></progress>

                    <label>Leadership</label>
                    <progress value="80" max="100"></progress>

                    <label>Time Management</label>
                    <progress value="75" max="100"></progress>
                

                    <hr>

 </div>
 <div class="columns large-3">

                    Soft skills

                    <label>Problem Solving</label>
                    <progress value="95" max="100"></progress>

                    <label>Communication</label>
                    <progress value="85" max="100"></progress>

                    <label>Leadership</label>
                    <progress value="80" max="100"></progress>

                    <label>Time Management</label>
                    <progress value="75" max="100"></progress>

                    </div>
</div>
