<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body class="about">
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1>About Me</h1>
                <img src="../../imgs/dragon.gif" width="200px">
            </div>

            <div class="row">
                <div class="columns">
                    <ul class="tabs" data-active-collapse="true" data-tabs id="collapsing-tabs">
                        <li class="tabs-title is-active"><a href="/about/education" aria-selected="true">Education</a></li>
                        <li class="tabs-title"><a href="/about/work">Work Experience</a></li>
                        <li class="tabs-title"><a href="/about/interests">Interests</a></li>
                        <li class="tabs-title"><a href="/about/other">Other</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>

</html>