<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body class="cursor about">
    <%- include('../templates/navbar') %>
    <%- include('../templates/footer') %>
<h1>Skills</h1>
</body>

</html>