<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body class="about">
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1>About Me</h1>
                <img class="center-horizontal" src="../../imgs/dragon.gif" width="200px">
            </div>

            <div class="education">
                <ul class="tabs" data-tabs id="collapsing-tabs">
                    <li class="tabs-title is-active"><a href="#education" aria-selected="true">Education</a></li>
                    <li class="tabs-title"><a href="#work">Work</a></li>
                    <li class="tabs-title"><a href="#skills">Skills</a></li>
                    <li class="tabs-title"><a href="#other">Volunteering/Other</a></li>
                </ul>

                <div class="tabs-content" data-tabs-content="collapsing-tabs">
                    <div class="tabs-panel is-active" id="education">
                        <h3>Education</h3>

                        <%- include('_education_table') %>

                    </div>
                    <div class="tabs-panel" id="work">
                        <h3>Work</h3>
                    </div>
                    <div class="tabs-panel" id="skills">
                        <h3>Skills</h3>

                   <%- include('_skills_bars') %>

                    </div>
                    <div class="tabs-panel" id="other">
                        <h3>Volunteering/Other</h3>

                    </div>
                </div>
            </div>
    </div>

    
    </div>
        <a class="button download-btn center-horizontal large" download href="../../Alicia Ngoc Diep Ha Resume.docx">Download Resume</a>

</body>

</html>