<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body>
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1 class="title"> Interactive Educational Platform </h1>
            </div>
        </div>

            <div class="card mt-6">
            <div class="card-body">
                <h3 class="card-title"><strong>
                Summary
                </strong>
                </h3>
                <div class="card-text mb-2">
                I was team leader who was responsible for making the demo videos, majority of the documentation and introducing the project to the client and the classroom.
                This project was about developing a website for an external client to help schools find the right resources for their students based on data analysis.
                <br></br>

                <b>Technologies</b>
                <ul>
                <li> Django REST framework backend </li>
                <li> SQLite/PostgreSQL database</li>
                <li> React and Bootstrap front-end</li>
                </ul>
                </div>

             Overall, our team of 6 members received a HD for this project.

            </div>
            </div>

        <div class="grid-x grid-padding-x">
                <div class="container">
                    <embed
                src="https://docs.google.com/presentation/d/1vBpIzcHk0dJJhCisy3lkgkVHI4U4NgVEhqz54MsQdKQ/edit?usp=sharing"
                width="1100px" height="950px">

        </div>
        </div>
    </div>
</body>


</html>