<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body>
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1> Interactive Educational Platform </h1>
            </div>
        </div>

        <div class="grid-x grid-padding-x">

        </div>
    </div>
</body>


</html>