<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body>
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1 class="title"> Measuring Air Quality </h1>
            </div>

            <div class="card mt-6">
            <div class="card-body">
                <h3 class="card-title"><strong>
                Summary
                </strong>
                </h3>
                <div class="card-text mb-2">
                This was an individual university project that was completed within a semester for a specfic supervisor. I was assigned a project that utilised a particulate matter sensor to observe the effects it has on public health.
                I went more in-depth and analysed the emissions of different modes of public transport and researched how each type correlated to the level and emissions.
                It involves conducting the experiment, statistical analysis and reasoning, critical researching of the background of this project and familiarity with Arduino technologies.
                <br></br>

                <b>Technologies</b>
                <ul>
                <li> Arduino Uno Board </li>
                <li> Adafruit Particulate Matter Sensor</li>
                <li> Excel Data Streamer </li>
                <li> Humidity and Temperature Sensor </li>
                </ul>
                </div>

             Overall, I received a HD for this project.

            </div>
            </div>

        </div>

        <div class="container">
                    <embed
                src="https://docs.google.com/document/d/1PNuZ9xxi-SUopi83XdiYYhOp5BeIAV5yHrNzsKjevNE/edit?usp=sharing"
                width="1100px" height="950px">

        </div>
    </div>
</body>


</html>