<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body>
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1> Garvan Internship </h1>
            </div>
        </div>

        <div class="container">
                    <embed
                src="https://docs.google.com/drawings/d/1N3W6v4vYQZZqlJpcANP4ZGP1p6DXBz2wW9ExCiBqumo/edit?usp=sharing"
                width="920px" height="950px">

        </div>
    </div>
</body>


</html>