<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body>
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1 class="title"> Garvan Internship </h1>
            </div>
             <div class="card mt-6">
            <div class="card-body">
                <h3 class="card-title"><strong>
                Summary
                </strong>
                </h3>
                <div class="card-text mb-2">
                I completed a 3 month summer intership at the Garvan Institute of Medical Research as a Web developer. I was given the task of linking patients with specific or rarer forms of cancers to their most suitable clinical trials. This was based on a number of conditions such as their age, cancer morphology, cancer type and cancer topology.
                This was a solo project whereby I completed the documentation, prototypes and final website. At the end of this internship, we all had to develop a poster to summarise our projects. This project was successful as my supervisor and the team of the Molecular Tumour Board use my website every week.
            
                <br></br>

                <b>Technologies</b>
                <ul>
                    <li> Django REST framework backend </li>
                    <li> SQLite/PostgreSQL database</li>
                    <li> React and Bootstrap front-end</li>
                </ul>
                </div>

                Below are example documents I produced during this project.
            </div>

            <center>
            <div class="pagination">
              <a href="#architecture">Architecture</a>
              <a href="#clinicaltrails">Patient</a>
              <a href="#patients">Clinical Trials</a>
              <a href="#poster">Poster</a>
            </div>
            </center>
            </div>
        </div>

        <div id="architecture" selected="true" class="section"> 
        <center>
        <img src="../../imgs/work/table.png" width="1100px">
        <figcaption>Fig.1 - Database Schema for the project</figcaption>
        </center>
    </div>

        <div id="clinicaltrials" class="section"> 
        <center>
        <img src="../../imgs/work/clinicaltrials.png" width="1100px">
      <figcaption>Fig.2 - Ranking of Clinical Trials</figcaption>

      <img src="../../imgs/work/clinicaltrialpage.png" width="1100px">
      <figcaption>Fig.3 - Display of Clinical Trial Data</figcaption>

      </center>
      </div>

       <div id="patients" class="section"> 
        <center>
        <img src="../../imgs/work/clinicaltrials.png" width="1100px">
      <figcaption>Fig.4 - Patient information and Criteria</figcaption>
      </center>
      </div>

        <div id="poster" class="container section">
                    <embed
                src="https://docs.google.com/drawings/d/1N3W6v4vYQZZqlJpcANP4ZGP1p6DXBz2wW9ExCiBqumo/edit?usp=sharing"
                width="1100px" height="1000px">

        </div>

    </div>
</body>

</html>