<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body>
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1 class="title"> Garvan Internship </h1>
            </div>
             <div class="card mt-6">
            <div class="card-body">
                <h3 class="card-title"><strong>
                Summary
                </strong>
                </h3>
                <div class="card-text mb-2">
                This was an individual university project that was completed within a semester for a specfic supervisor. I was assigned a project that utilised a particulate matter sensor to observe the effects it has on public health.
                I went more in-depth and analysed the emissions of different modes of public transport and researched how each type correlated to the level and emissions.
                It involves conducting the experiment, statistical analysis and reasoning, critical researching of the background of this project and familiarity with Arduino technologies.
                <br></br>

                <b>Technologies</b>
                <ul>
                <li> Arduino Uno Board </li>
                <li> Adafruit Particulate Matter Sensor</li>
                <li> Excel Data Streamer </li>
                <li> Humidity and Temperature Sensor </li>
                </ul>
                </div>

             Overall, I received a HD for this project.

            </div>
            <center>
            <div class="pagination">
              <a href="#architecture" class="active">Architecture</a>
              <a href="#clinicaltrails">Patient</a>
              <a href="#patients">Clinical Trials</a>
              <a href="#poster">Poster</a>
            </div>
            </center>
            </div>
        </div>

        <div id="architecture" class="section"> 
        <center>
        <img src="../../imgs/work/table.png" width="1100px">
        <figcaption>Fig.1 - Database Schema for the project</figcaption>
        </center></div>

        <div id="clinicaltrials" class="section"> 
        <center>
        <img src="../../imgs/work/clinicaltrials.png" width="1100px">
      <figcaption>Fig.2 - Ranking of Clinical Trials</figcaption>

      <img src="../../imgs/work/clinicaltrialpage.png" width="1100px">
      <figcaption>Fig.3 - Display of Clinical Trial Data</figcaption>

      </center>
      </div>

       <div id="patients" class="section"> 
        <center>
        <img src="../../imgs/work/clinicaltrials.png" width="1100px">
      <figcaption>Fig.4 - Patient information and Criteria</figcaption>
      </center>
      </div>

        <div id="poster" class="container section">
                    <embed
                src="https://docs.google.com/drawings/d/1N3W6v4vYQZZqlJpcANP4ZGP1p6DXBz2wW9ExCiBqumo/edit?usp=sharing"
                width="1100px" height="1000px">

        </div>

    </div>
</body>

</html>