<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body>
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1> Projects <img src="../../imgs/bard.gif" width="100px"></h1>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
        <!-- <img src="../imgs/frame.png" width="1050px"> -->

            <embed
                src="https://docs.google.com/document/d/1PNuZ9xxi-SUopi83XdiYYhOp5BeIAV5yHrNzsKjevNE/edit?usp=sharing"
                width="920px" height="950px">
        </div>
    </div>
</body>


</html>