<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body>
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1 class=mb-5>Projects <img src="../../imgs/book.gif" width="100px"></h1>
            </div>
        </div>

      
    </div>

</body>


</html>