<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
</head>

<body>
    <%- include('../templates/navbar') %>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1 class="title"> My Resume Website </h1>
            </div>
        </div>

        <div class="card">
        This website uses the following technologies:
        <ul> 
        <li> NodeJS</li>
        <li> MongoDB</li>
        <li> Foundation</li>
        <li> Zeet Web Hosting</li>
        <li> And of course HTML and CSS</li>
        </ul>

        The link to the source code can be found here: 
        <center><b><a href="https://github.com/aliciaha1997/webdev"> GITHUB LINK FOR RESUME WEBSITE </a></b></center>

        </div>
    </div>
</body>


</html>